<html>

<body>

    <h1>Counter: <%= counter %> </h1>

<form action="/reset">
<input type="submit" value="RESET">
</form>

<form action="/bytwo">
    <input type="submit" value="incremment by 2">
    </form>


<form action="/byone">
    <input type="submit" value="incremment by 1">
    </form>
</body>

</html>