<html>

<body>


    <form action="/result" method="POST">
        <label>Your Name</label>
        <input type="text" name="name">
        <br>
        <label> Dojo Location</label>
        <select name="loc">
            <option value="Riyadh">Riyadh</option>
            <option value="Jeddah">Jeddah</option>
        </select>
        <br>
        <label>Fav Lang</label>
        <select name="lan">
            <option value="JavaScript">JavaScript</option>
            <option value="Python">Python</option>
        </select>
        <br>
        <label>Comment (optional): </label>
        <textarea name="comment" cols="30" rows="10"></textarea>
        <input type="submit" value="submit">
    </form>

</body>

</html>