<html>
<body>


    <h1> name <%= name %></h1> 
    <br>
    <h2>location <%= loc %></h2>
    <br>
    <h2>Fav <%= lan %></h2>
    <br>
    <h2>Comment: <%= comment %></h2>
    
    
    
</body>

</html>