<html>
<body>
    <h2>Here are all the cats:</h2>
    <% for (var cat of cats) { %>
        <h3>Name: <%= cat.name %></h3>
        <a href="/<%= cat.name %>"> <img src="<%= cat.pic %>" alt="cat"> </a>
        
        <hr>
    <% } %>
</body>
</html>
