<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>form</title>
</head>

<body>
    <h1>Form</h1>
    <form action="/">
        <label>new car</label>
        <input type="text">

        
        <label>car pic</label>
        <input type="file">
        
       <input type="button" value="Go">
    </form>
</body>

</html>